body {
	background-color:powderblue;
}
header {
    background-color:powderblue;
    color:black;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:powderblue;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
#booklist {
		height: 150px;
		width: 800px;
		overflow: scroll;
		border: 1px #aabbcc solid;
		padding: 10px;
}